<% provide :title, t(".page") %>

<p>
  <h1><%= t ".page_title" %></h1>
  <%= t ".content_1" %>
  <%= link_to t(".book_ruby_title"), t(".book_ruby_url") %>
  <%= t ".content_2" %>
  <%= link_to t(".book"), t(".book_url") %>
  <%= t ".content_3" %>
  <%= link_to t(".series_title"), t(".series_url") %>
  <%= t ".content_4" %>
  <%= link_to t(".ruby_framework_title"), t(".ruby_framework_url") %>
  <%= t ".content_5" %>
</p>
