<% provide :title, t("help") %>

<p>
  <h1><%= t("help") %></h1>
  <%= t ".content_1" %>
  <%= link_to t(".help_page_title"), t(".help_page_url") %>
  <%= t ".content_2" %>
  <%= link_to t(".book_title"), t("rails_tutorial_book") %>
</p>
