<h1><%= t ".title" %></h1>

<p><%= t ".hi" %> <%= @user.name %>,</p>

<p>
  <%= t ".content_1" %>
</p>

<%= link_to t(".active"), edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>
