<footer class="footer">
  <small>
    <%= t ".content_1" %>
    <%= link_to t(".ruby_title"), t("rails_tutorial") %>
    <%= t ".content_2" %>
    <%= link_to t(".michael_title"), t(".michael_url") %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("about"), about_path %></li>
      <li><%= link_to t("contact"), contact_path %></li>
      <li><%= link_to t(".new"), signup_path %></li>
    </ul>
  </nav>
</footer>
